.container , p {
    width:60%; 
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    border: 2px solid black;
    row-gap: 2px;
    column-gap: 2px;
}

.container div {
    padding:20px;
    background-color: white;
}

.container div p,a {
    text-align: center;
    font-size: large;
}